NEXT_PUBLIC_SUPABASE_URL=https://vursbxuyxtlsjfwyssrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cnNieHV5eHRsc2pmd3lzc3JsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NzI0NzIsImV4cCI6MjEwMDA0ODQ3Mn0.zBlK4pM_-Zh1AQdvsUtKqy2PZTHpokJUSSI8v1WQ96c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cnNieHV5eHRsc2pmd3lzc3JsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDQ3MjQ3MiwiZXhwIjoyMTAwMDQ4NDcyfQ.kBUrqDYLqYZXx1K956UjUgACw7AgZA04f_ImUx2qGyg
OPENAI_API_KEY=your-openai-api-key
