NEXT_PUBLIC_SUPABASE_URL=https://yvqhvtntnqcpaydlzrvw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2cWh2dG50bnFjcGF5ZGx6cnZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNDUxNzksImV4cCI6MjA5OTYyMTE3OX0.IsOdCtOdaha8ajKlHt1sO3HuZaWyuhIY2R7D5oXI2EI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2cWh2dG50bnFjcGF5ZGx6cnZ3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDA0NTE3OSwiZXhwIjoyMDk5NjIxMTc5fQ.nFhxWBG6DtyLl_wxpPjaD5YjvhN58GDK7U1bS_eWzGg
OPENAI_API_KEY=your-openai-api-key